<div class="landing-container">
  <canvas id="canvas3d" class="spline-canvas"></canvas>

  <div class="overlay-content">
    <a href="https://github.com/AcetoneGit" target="_blank" class="github-icon">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</div>
