<div data-controller="spline" style="width: 100vw; height: 100vh; position: fixed; top: 0; left: 0;">
  <canvas id="canvas3d" data-spline-target="canvas" style="width: 100%; height: 100%;"></canvas>
</div>

<div class="overlay-content">
  <a href="https://github.com/AcetoneGit" target="_blank" class="github-icon">
    <i class="fa-brands fa-github"></i>
  </a>
</div>
