.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.spline-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.github-icon {
  font-size: 2.5rem;
  color: white;
  transition: transform 0.3s ease;
}

.github-icon:hover {
  transform: scale(1.2);
}

.special_font {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
